<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ale.aplicacionmd">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".flashCardsActivity"
            android:label="Flashcards"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".flashCardsEditActivity"
            android:label="@string/title_activity_flash_cards_edit" />
        <activity
            android:name=".MemoramaActivity"
            android:label="@string/title_activity_memorama"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="add_flashcard"
            android:label= "Añadir Flashcards"/>

        <activity android:name=".showFlashcards"
            android:label="Flashcards"/>

        <activity android:name=".add_memorama"
            android:label="Añadir Juego de cartas de Memorama"/>

        <activity android:name=".showMemorama"
            android:label="Memorama"/>

    </application>

</manifest>